body{
	margin: 0;
	padding: 0;
	background-image: url(../vivek.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	font-family: century Gothic;
}
.box{
	width: 320px;
	height: 380px;
	background-color: #000000b3;
	color: #fff;
	position:absolute;
	transform: translate(-50px,-50%);
	left: 50%;
	top: 50%;
	padding: 70px 30px;
	box-sizing: border-box;
	border-radius: 10px;
}
.logo{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50%-50px);
}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
.box input{
	width: 100%;
	margin-bottom: 20px;

}
.box input[type="text"],input[type="password"]
{
	border: none;
	border-bottom:1px solid #000000;
	background-color:transparent
	outline:none;
	height:40px;
	color:#000000;
	font-size:16px;
}
.box input[type="submit"]
{
	border: none;
	padding:none;
	height:40px;
	background-color:#ff000;
	color:#800000;
	font-size:18px;
	border-radius:20px;
	transition:0.4s ease;
}
.box input[type="submit"]: hover{
	cursor:pointer;
	background-color:#c0c0c0;
	color:#fff;
}
.box a{
	text-decoration: none;
	font-size: 12px;
	line-height:20px;
	color:darkgrey;
	transition:0.4s ease;
}
.box a:hover{
	color:#ffc107;

}